.container-r {
   
    width:fit-content;
    height:fit-content;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;

    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

<<<<<<< HEAD
h2 {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
h3 {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.list-style {
    display: flex;
    padding-top: 20px;
}
=======
>>>>>>> 3ec566ae363638715b8c9232c7f19edc17bf1ccf
@keyframes skewBg {
    0% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes underline {
    100% {
      width: 100%;
    }
  }
  